{% extends '_layout.html.twig' %}

{% block title %}products{% endblock %}
{% block content %}
    <h1>orders:</h1>
    <table border="1">
        <tr>
            <td>#id</td>
            <td>state</td>
            <td>items</td>
            <td>total</td>
        </tr>
        {% for order in orders %}
        <tr>
            <td>
                {{ order.id }}
            </td>
            <td>
                {{ order.state }}
            </td>
            <td>
                {% for item in order.items %}
                    {{ item.productCode }}<br />
                {% endfor %}
            </td>
            <td>
                {{ order.total }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% for linkType, linkParams in links %}
        <a href="{{ path('app_order_index', linkParams) }}">{{ linkType }}</a><br />
    {% endfor %}
{% endblock %}
