{% extends '_layout.html.twig' %}

{% block title %}Product List {% endblock %}
{% block content %}
    <h1>Product list</h1>

    <form class="form pb-5">
        <h2>Filter products</h2>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="code">Code</label><br>
                    <input class="form-control" type="text" name="filter[code]" value="{{ app.request.query.get('filter').code|default }}">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="name">Name</label><br>
                    <input class="form-control" type="text" name="filter[name]" value="{{ app.request.query.get('filter').name|default }}">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="code">Description</label><br>
                    <input class="form-control" type="text" name="filter[apiDescription]" value="{{ app.request.query.get('filter').apiDescription|default }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input class="btn btn-outline-primary" type="submit" value="Filter">
                <a href="{{ path('app_product_list') }}" class="btn btn-outline-secondary">Reset</a>
            </div>
        </div>
    </form>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% for linkType, linkParams in links %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ path('app_product_list', linkParams) }}">{{ linkType }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th style="width:10%" scope="col">CODE</th>
            <th style="width:10%" scope="col">Name</th>
            <th style="width:30%" scope="col">Image</th>
            <th style="width:40%" scope="col">Description</th>
            <th style="width:10%" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.code }}</th>
                <td>{{ product.name }}</td>
                <td>
                    {% if product.images %}
                        {% for image in product.images %}
                            <img style="max-width:200px" class="img-fluid img-thumbnail" src="{{ image.path }}"/>
                        {% endfor %}
                    {% else %}
                        No image
                    {% endif %}
                </td>
                <td>
                    {% if product.apiDescription %}
                        {{ product.apiDescription|raw }}
                    {% else %}
                        No description
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-outline-primary"
                       href="{{ path('app_product_get', {'code': product.code}) }}">Show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            {% for linkType, linkParams in links %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ path('app_product_list', linkParams) }}">{{ linkType }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

{% endblock %}
